PROJECT_NAME=PROJECT_NAME
NGINX_PROXY_CONTAINER=NGINX_PROXY_CONTAINER
PORT=3000

DB_HOST=db
DB_PORT=5432
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD
DB_DATABASE=DB_DATABASE

JWT_EXPIRES=1d
JWT_SECRET=JWT_SECRET

LETSENCRYPT_EMAIL=email@example.com